gdown
numpy==1.19.5
pandas==1.1.5
pathlib==1.0.1
Pillow==7.1.2
regex==2019.12.20
requests==2.23.0
tblib==1.7.0
tensor2tensor==1.14.1
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.2
tensorflow-datasets==4.0.1
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-gcs-config==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.29.0
tensorflow-probability==0.7.0
tflearn==0.3.2
Theano==1.0.5
